<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Finn Reise</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
            <link rel="stylesheet" href="~/lib/jquery-timepicker/jquery-timepicker.css" />
            <link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">

        </environment>
        <environment exclude="Development">
             <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css" />
            <link rel="stylesheet" href="~/lib/jquery-timepicker/jquery-timepicker.css" />
            <link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">
        </environment>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">FINNREISE </a>
            <a class="btn btn-outline-primary float-right" asp-controller="Admin" asp-action="Login">@(User.Identity.IsAuthenticated ? "Admin" : "Logg inn")</a>
        </div>
    </nav>
<div>
    @RenderBody()
    <footer style="margin-top: 10rem">
        <hr/>
        <p>&copy; 2019 - Finn Reise</p>
    </footer>

</div>


<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/9dcc3ff6bd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/expressive/expressive.js"></script>


</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/9dcc3ff6bd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/expressive/expressive.js"></script>

</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
