<div class="modal fade" id="slettStasjonModal" tabindex="-1" role="dialog" aria-labelledby="slettStasjonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="slettStasjonModalLabel">Er du sikker på at du vil slette denne stasjon?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-danger" id="slettStasjonOK">Slett</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="hiddenSId"/>
</div>