@{
    ViewData["Title"] = "VisDatbase";
}

<div class="container">
    <h1 class="text-uppercase">Database</h1>
    <select id="IdListe">
        <option>---- Velg database ----</option>
        <option>Strekning</option>
        <option>Kort</option>
        <option>Ordre</option>
        <option>Avganger</option>
        <option>Endringer</option>
    </select>
    <div id="databaseData">

    </div>
</div>